extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

      
        h1 Katie Shook

        p.lead.text-light
          | Full Stack JavaScript Developer

     
        .portfolio-bio
          p
            |  JavaScript  student , dog mom and improv comedian living in Portland, Oregon. Currently seeking employement in development. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

     
        ul
          li Express
          li Node js
          li JavaScript
          li JQuery
          li HTML
          li CSS
          li  PUG 
          li NPM
          li Profecient in Slack
          li Code Review Experience 
          li Interpersonal Communication Skills
       
        h6 Contact Info

    
        ul
          li 503-382-9121
          li Katiershook@gmail.com

        
       
        a.button.expanded(href='https://github.com/katiershook'  target="_blank")  GitHub
     
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
